body {
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}

.form-group {
    display: block;
    margin: 20px auto;
    position: relative;
    width: 400px;
}

.custom-select {
    position: relative;
    width: 100%;
    height: 50px;
}

.custom-select.js-active .custom-select__trigger {
    border-radius: 10px 10px 0 0;
}

.custom-select.js-active .custom-select__menu {
    padding-top: 50px;
}
.custom-select.js-active .custom-select__item:first-child {
    margin-top: 0px;
}
.custom-select.js-active .custom-select__item-name {
    opacity: 1;
    visibility: visible;
}

.custom-select.js-active .arrow {
    transform: rotate(180deg);
}

.form-label {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    font-size: 12px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    padding: 0 7px;
}

.custom-select__trigger {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    will-change: border;
}

.arrow {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;

    span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span::after,
    span::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: #000;
    }

    span::before {
        right: 8px;
        transform: rotate(45deg);
    }

    span::after {
        right: 2px;
        transform: rotate(-45deg);
    }
}

.custom-select__menu {
    margin: 0;
    padding: 0;
    position: absolute;
    max-height: 50px;
    top: 0;
    overflow: hidden; 
    width: calc(100% - 2px);
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.3s linear;
    will-change: max-height, border;
}

.custom-select__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    z-index: 4;
}
.custom-select__item:first-child {
    margin-top: 50px;
}

.custom-select__item-value {
    width: 0;
    opacity: 0;
    display: none;
    position: absolute;
}

.custom-select__item-name {
    padding: 15px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

@media(hover: hover) {
    .custom-select.js-active .custom-select__item:hover {
        background-color: #33C5F3;
        color: #fff;
    }     
}